In [2]:
!pip install haversine

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/f4/52/a13286844780c7b1740edbbee8a8f0524e2a6d51c068b59dda39a6a119f5/haversine-2.3.0-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.3.0

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [301]:
from haversine import haversine ## 좌표로 거리 구하기 300m

In [302]:
haversine((127.0016985,37.5642135), (127.0016985,37.5686963), unit = 'km')

0.29999571050047735

In [303]:
## 500미터에 해당하는 좌표 차이
xx = 0.0044966
yy = 0.0074714

In [541]:
## 100미터에 해당하는 좌표 차이
xxx = xx/5
yyy = yy/4

In [540]:
# 좌표를 중심으로한 1km^2 사각형의 꼭지점 4개의 좌표 구하기

def square(x,y,xx= 0.0044966,yy=0.0074714):
  s_list = []
  s_list.append([x-xx,y])
  s_list.append([x+xx,y])
  s_list.append([x,y-yy])
  s_list.append([x,y+yy])
  return s_list

In [305]:
square(127.0016985,37.5642135)

[[126.99720190000001, 37.5642135],
 [127.0061951, 37.5642135],
 [127.0016985, 37.5567421],
 [127.0016985, 37.5716849]]

In [306]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/elice_miniProject/metro_station_seoul.csv', encoding="cp949")

In [307]:
df

     Unnamed: 0 metro_station_name  ... metro_geo_lat  metro_geo_lng
0             0            강남역 2호선  ...     37.498165     127.028308
1             1         서울대입구역 2호선  ...     37.481153     126.952645
2             2            합정역 2호선  ...     37.550115     126.914638
3             3           왕십리역 2호선  ...     37.561222     127.036655
4             4            당산역 2호선  ...     37.534957     126.902731
..          ...                ...  ...           ...            ...
439         439            신당역 6호선  ...     37.566274     127.016154
440         440            상봉역 경춘선  ...     37.596714     127.085437
441         441        강남구청역 수인분당선  ...     37.517189     127.041301
442         442           신설동역 2호선  ...     37.575319     127.024702
443         443        솔밭공원역 우이신설선  ...     37.656155     127.013092

[444 rows x 5 columns]

In [308]:
del df['Unnamed: 0'] ## 필요 없는 열 삭제

In [309]:
df['station_num'] = '' ## 호선 번호 열 생성

In [310]:
## 역 이름에서 역이름, 호선 번호로 열 분리
de = []
for i in range(len(df['metro_station_name'])):
  try:
    df['station_num'][i]=df['metro_station_name'][i].split()[1]
    df['metro_station_name'][i]=df['metro_station_name'][i].split()[0]
  except:
    de.append(i) ## 호선 정보가 없는 행 번호

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [311]:
print(de)

[254, 320, 354, 392, 426]

In [312]:
de.sort(reverse=True)
de

[426, 392, 354, 320, 254]

In [313]:
## 호선 정보가 없는 열 삭제 후 인덱스 번호 초기화

for i in range(len(de)):
  df.drop(df.index[i],inplace=True)
df.reset_index(drop=True, inplace=True)

In [314]:
df

    metro_station_name    metro_station_addr  ...  metro_geo_lng  station_num
0               서울대입구역  서울 관악구 남부순환로 지하 1822  ...     126.952645          2호선
1                 왕십리역    서울 성동구 왕십리로 지하 300  ...     127.036655          2호선
2                  신촌역      서울 마포구 신촌로 지하 90  ...     126.936119          2호선
3                  신림역  서울 관악구 남부순환로 지하 1614  ...     126.929803          2호선
4                  교대역    서울 서초구 서초대로 지하 294  ...     127.014156          3호선
..                 ...                   ...  ...            ...          ...
434                신당역      서울 중구 다산로 지하 260  ...     127.016154          6호선
435                상봉역        서울 중랑구 망우로 297  ...     127.085437          경춘선
436              강남구청역     서울 강남구 학동로 지하 346  ...     127.041301        수인분당선
437               신설동역      서울 동대문구 왕산로 지하 1  ...     127.024702          2호선
438              솔밭공원역        서울 강북구 삼양로 595  ...     127.013092        우이신설선

[439 rows x 5 columns]

In [319]:
## 호선별 지하철역을 빠르게 구하기 위해 딕셔너리로
## idx로 호선별 index번호 추가 

metro = {}
for i in range(len(df['metro_station_name'])):
  if df['station_num'][i] in metro:
    idx = len(metro[df['station_num'][i]])
    a = {idx:[df['metro_station_name'][i],(df['metro_geo_lng'][i],df['metro_geo_lat'][i])]}
    metro[df['station_num'][i]].append(a)
    
  else:
    idx = 0 
    a = {idx:[df['metro_station_name'][i],(df['metro_geo_lng'][i],df['metro_geo_lat'][i])]}
    metro[df['station_num'][i]]=[a]

In [320]:
metro['2호선'][0]

{0: ['서울대입구역', (126.952645104944, 37.481152663184396)]}

In [321]:
metro['2호선'][0][0]

['서울대입구역', (126.952645104944, 37.481152663184396)]

In [322]:
metro['2호선'][0][0][1][0], metro['2호선'][0][0][1][1] ## 서울대 입구역의 x, y 좌표

(126.952645104944, 37.481152663184396)

In [323]:
a = square(metro['2호선'][0][0][1][0],metro['2호선'][0][0][1][1])
a

[[126.948148504944, 37.481152663184396],
 [126.957141704944, 37.481152663184396],
 [126.952645104944, 37.473681263184396],
 [126.952645104944, 37.488624063184396]]

In [324]:
metro['2호선'][0][0][1][0],metro['2호선'][0][0][1][1]

(126.952645104944, 37.481152663184396)

In [325]:
df.columns = ['name', 'addr','lat','lng','station_num']
df

       name                  addr        lat         lng station_num
0    서울대입구역  서울 관악구 남부순환로 지하 1822  37.481153  126.952645         2호선
1      왕십리역    서울 성동구 왕십리로 지하 300  37.561222  127.036655         2호선
2       신촌역      서울 마포구 신촌로 지하 90  37.555442  126.936119         2호선
3       신림역  서울 관악구 남부순환로 지하 1614  37.484218  126.929803         2호선
4       교대역    서울 서초구 서초대로 지하 294  37.493577  127.014156         3호선
..      ...                   ...        ...         ...         ...
434     신당역      서울 중구 다산로 지하 260  37.566274  127.016154         6호선
435     상봉역        서울 중랑구 망우로 297  37.596714  127.085437         경춘선
436   강남구청역     서울 강남구 학동로 지하 346  37.517189  127.041301       수인분당선
437    신설동역      서울 동대문구 왕산로 지하 1  37.575319  127.024702         2호선
438   솔밭공원역        서울 강북구 삼양로 595  37.656155  127.013092       우이신설선

[439 rows x 5 columns]

In [326]:
## 좌표 반경 500미터 내의 지하철 역, 100미터 내의 버스 정류장 찾기

def round500(x,y,df,bus=False): ## x,y좌표 , DataFrame변수명, True == 버스, False == 지하철

  box = square(x,y) # 위치 좌표를 중심으로한 1km^2 정사각형의 꼭지점 4개의 좌표 구하기

  station = []
  left_x = box[0][0] # 좌측 x좌표
  right_x = box[1][0] # 우측 x좌표
  low_y = box[2][1] # 하단 y좌표
  hight_y = box[3][1] # 상단 y좌표
  result = []

  df = df.sort_values(by=["lng", "lat"], ascending=[True, True])  ## x좌표 기준으로 데이터 프레임 sorting
  df.reset_index(drop=True, inplace=True)

  for i in range(len(df['name'])): 
    if df['lng'][i] >=  right_x: ## x가 범위 500m 좌표 내에 없을 시 break
      break

    if df['lng'][i] >= left_x and df['lng'][i] < right_x  and df['lat'][i] >= low_y and df['lat'][i] < hight_y:
      station.append(i) ## 구해놓은 꼭지점 내에 해당하는 역의 index번호를 station 리스트에 저장
  
  for i in station: ## 1km^2 범위 내에서 선택한 위치를 중심으로 반경 내의 역만

    if bus==True: ## 버스면 100미터 지하철은 500미터
      distance = 0.1
    else:
      distance = 0.5
    if abs(haversine((df['lng'][i],df['lat'][i]), (x, y), unit = 'km')) <= distance:
      result.append(i)
  return result

In [453]:
round500(metro['2호선'][0][0][1][0],metro['2호선'][0][0][1][1],df) ## 서울대입구 역 반경 500미터 내의 지하철 역 찾기

[123]

In [454]:
df['name'][123]

'서울대입구역'

In [329]:
df = df.sort_values(by=["lng", "lat"], ascending=[True, True])  ## 함수와 같이 sorting
df.reset_index(drop=True, inplace=True)
df['station_num'][123] ## 서울대입구 역 반경 500m에는 사당역 말고 없는듯

'2호선'

In [330]:
print(metro[df['station_num'][161]]) ## metro에서 2호선의 모든 역 보기

[{0: ['서울대입구역', (126.952645104944, 37.481152663184396)]}, {1: ['왕십리역', (127.036655378283, 37.561221741519105)]}, {2: ['신촌역', (126.936119192554, 37.555441786598394)]}, {3: ['신림역', (126.92980331103, 37.4842176141092)]}, {4: ['삼성역', (127.063073009788, 37.5088619974404)]}, {5: ['역삼역', (127.036618203089, 37.500716269359295)]}, {6: ['성수역', (127.05609047122299, 37.5445023983984)]}, {7: ['사당역', (126.981408909449, 37.476522834761894)]}, {8: ['강변역', (127.094664569096, 37.5351692767888)]}, {9: ['대림역', (126.8949461878, 37.4933105886136)]}, {10: ['건대입구역', (127.06917328155399, 37.540418887217605)]}, {11: ['구로디지털단지역', (126.901494378412, 37.485314923786504)]}, {12: ['선릉역', (127.048942471228, 37.5045028775835)]}, {13: ['신대방역', (126.913175585996, 37.4875759745635)]}, {14: ['방배역', (126.99769489932699, 37.4814364876589)]}, {15: ['잠실새내역', (127.08637386720699, 37.5115672093323)]}, {16: ['서초역', (127.007580814715, 37.491822999009294)]}, {17: ['동대문역사문화공원역', (127.009131498424, 37.565589522977604)]}, {18: ['낙성대역', (126.96340995915199, 37.4770651843603)]}, {19: ['을지로입구역', (126.98237290178699, 37.5660509513873)]}, {20: ['구의역', (127.086179228767, 37.5371535596228)]}, {21: ['신정네거리역', (126.85299164505899, 37.51979752667871)]}, {22: ['신당역', (127.01954057448499, 37.5656540317328)]}, {23: ['봉천역', (126.941495272047, 37.4825562153548)]}, {24: ['영등포구청역', (126.896626898379, 37.525699661480395)]}, {25: ['뚝섬역', (127.047365178682, 37.547188224409105)]}, {26: ['을지로3가역', (126.990308356253, 37.56626594615)]}, {27: ['문래역', (126.89476306055599, 37.5179214637526)]}, {28: ['이대역', (126.945758201019, 37.5567980142044)]}, {29: ['잠실나루역', (127.10381108944401, 37.520686731808794)]}, {30: ['아현역', (126.95603374504, 37.5573575723061)]}, {31: ['종합운동장역', (127.073356018706, 37.510969274899296)]}, {32: ['충정로역', (126.964474043785, 37.5598377952439)]}, {33: ['상왕십리역', (127.029031221392, 37.5644687111181)]}, {34: ['을지로4가역', (126.997852780281, 37.56663699415721)]}, {35: ['한양대역', (127.043584493543, 37.55557788354)]}, {36: ['양천구청역', (126.866065211751, 37.512698935844604)]}, {37: ['신답역', (127.04682020355601, 37.56999105621829)]}, {38: ['교대역', (127.014155572616, 37.4935774661715)]}, {39: ['용두역', (127.038031119837, 37.5739380503267)]}, {40: ['용답역', (127.050729309179, 37.56200490526621)]}, {41: ['신도림역', (126.891080501385, 37.508770144978705)]}, {42: ['시청역', (126.975389363157, 37.5635793508101)]}, {43: ['까치산역', (126.846611592059, 37.531956084774606)]}, {44: ['도림천역', (126.882702584468, 37.5144420510515)]}, {45: ['신설동역', (127.024701893044, 37.5753194830738)]}, {46: ['시청역', (126.975389363157, 37.5635793508101)]}, {47: ['까치산역', (126.846611592059, 37.531956084774606)]}, {48: ['도림천역', (126.882702584468, 37.5144420510515)]}, {49: ['신설동역', (127.024701893044, 37.5753194830738)]}]

In [331]:
 ##해당 역의 호선 내 모든 역을 중심으로하는 1km^2 정사각형의 꼭지점 

def all_station(df_index):
  all = []
  for i in range(len(metro[df['station_num'][df_index]])):
    all.append(square(metro[df['station_num'][df_index]][i][i][1][0],metro[df['station_num'][df_index]][i][i][1][1]))
  return all

In [332]:
print(all_station(161)) # 2호선 모든 역의 정사각형 좌표

[[[126.948148504944, 37.481152663184396], [126.957141704944, 37.481152663184396], [126.952645104944, 37.473681263184396], [126.952645104944, 37.488624063184396]], [[127.032158778283, 37.561221741519105], [127.041151978283, 37.561221741519105], [127.036655378283, 37.553750341519105], [127.036655378283, 37.568693141519105]], [[126.931622592554, 37.555441786598394], [126.940615792554, 37.555441786598394], [126.936119192554, 37.547970386598394], [126.936119192554, 37.562913186598394]], [[126.92530671103, 37.4842176141092], [126.93429991103, 37.4842176141092], [126.92980331103, 37.4767462141092], [126.92980331103, 37.4916890141092]], [[127.058576409788, 37.5088619974404], [127.067569609788, 37.5088619974404], [127.063073009788, 37.5013905974404], [127.063073009788, 37.5163333974404]], [[127.03212160308901, 37.500716269359295], [127.041114803089, 37.500716269359295], [127.036618203089, 37.493244869359295], [127.036618203089, 37.508187669359295]], [[127.05159387122299, 37.5445023983984], [127.06058707122298, 37.5445023983984], [127.05609047122299, 37.5370309983984], [127.05609047122299, 37.5519737983984]], [[126.976912309449, 37.476522834761894], [126.985905509449, 37.476522834761894], [126.981408909449, 37.469051434761894], [126.981408909449, 37.483994234761894]], [[127.090167969096, 37.5351692767888], [127.09916116909599, 37.5351692767888], [127.094664569096, 37.5276978767888], [127.094664569096, 37.5426406767888]], [[126.8904495878, 37.4933105886136], [126.8994427878, 37.4933105886136], [126.8949461878, 37.4858391886136], [126.8949461878, 37.5007819886136]], [[127.06467668155399, 37.540418887217605], [127.07366988155398, 37.540418887217605], [127.06917328155399, 37.532947487217605], [127.06917328155399, 37.547890287217605]], [[126.896997778412, 37.485314923786504], [126.90599097841199, 37.485314923786504], [126.901494378412, 37.477843523786504], [126.901494378412, 37.492786323786504]], [[127.044445871228, 37.5045028775835], [127.053439071228, 37.5045028775835], [127.048942471228, 37.4970314775835], [127.048942471228, 37.5119742775835]], [[126.908678985996, 37.4875759745635], [126.917672185996, 37.4875759745635], [126.913175585996, 37.4801045745635], [126.913175585996, 37.4950473745635]], [[126.99319829932699, 37.4814364876589], [127.00219149932698, 37.4814364876589], [126.99769489932699, 37.4739650876589], [126.99769489932699, 37.4889078876589]], [[127.08187726720699, 37.5115672093323], [127.09087046720698, 37.5115672093323], [127.08637386720699, 37.5040958093323], [127.08637386720699, 37.5190386093323]], [[127.003084214715, 37.491822999009294], [127.012077414715, 37.491822999009294], [127.007580814715, 37.484351599009294], [127.007580814715, 37.499294399009294]], [[127.004634898424, 37.565589522977604], [127.013628098424, 37.565589522977604], [127.009131498424, 37.5581181229776], [127.009131498424, 37.573060922977604]], [[126.95891335915199, 37.4770651843603], [126.96790655915198, 37.4770651843603], [126.96340995915199, 37.4695937843603], [126.96340995915199, 37.4845365843603]], [[126.97787630178699, 37.5660509513873], [126.98686950178698, 37.5660509513873], [126.98237290178699, 37.5585795513873], [126.98237290178699, 37.5735223513873]], [[127.081682628767, 37.5371535596228], [127.09067582876699, 37.5371535596228], [127.086179228767, 37.5296821596228], [127.086179228767, 37.5446249596228]], [[126.848495045059, 37.51979752667871], [126.85748824505899, 37.51979752667871], [126.85299164505899, 37.51232612667871], [126.85299164505899, 37.52726892667871]], [[127.015043974485, 37.5656540317328], [127.02403717448499, 37.5656540317328], [127.01954057448499, 37.5581826317328], [127.01954057448499, 37.5731254317328]], [[126.93699867204701, 37.4825562153548], [126.945991872047, 37.4825562153548], [126.941495272047, 37.4750848153548], [126.941495272047, 37.4900276153548]], [[126.892130298379, 37.525699661480395], [126.901123498379, 37.525699661480395], [126.896626898379, 37.518228261480395], [126.896626898379, 37.533171061480395]], [[127.042868578682, 37.547188224409105], [127.051861778682, 37.547188224409105], [127.047365178682, 37.539716824409105], [127.047365178682, 37.554659624409105]], [[126.985811756253, 37.56626594615], [126.99480495625299, 37.56626594615], [126.990308356253, 37.55879454615], [126.990308356253, 37.57373734615]], [[126.89026646055599, 37.5179214637526], [126.89925966055598, 37.5179214637526], [126.89476306055599, 37.5104500637526], [126.89476306055599, 37.5253928637526]], [[126.94126160101901, 37.5567980142044], [126.950254801019, 37.5567980142044], [126.945758201019, 37.549326614204396], [126.945758201019, 37.5642694142044]], [[127.09931448944401, 37.520686731808794], [127.108307689444, 37.520686731808794], [127.10381108944401, 37.513215331808794], [127.10381108944401, 37.528158131808794]], [[126.95153714504, 37.5573575723061], [126.96053034504, 37.5573575723061], [126.95603374504, 37.5498861723061], [126.95603374504, 37.5648289723061]], [[127.068859418706, 37.510969274899296], [127.07785261870599, 37.510969274899296], [127.073356018706, 37.503497874899296], [127.073356018706, 37.518440674899296]], [[126.95997744378501, 37.5598377952439], [126.968970643785, 37.5598377952439], [126.964474043785, 37.5523663952439], [126.964474043785, 37.5673091952439]], [[127.02453462139201, 37.5644687111181], [127.033527821392, 37.5644687111181], [127.029031221392, 37.5569973111181], [127.029031221392, 37.5719401111181]], [[126.993356180281, 37.56663699415721], [127.00234938028099, 37.56663699415721], [126.997852780281, 37.55916559415721], [126.997852780281, 37.57410839415721]], [[127.039087893543, 37.55557788354], [127.04808109354299, 37.55557788354], [127.043584493543, 37.54810648354], [127.043584493543, 37.56304928354]], [[126.86156861175101, 37.512698935844604], [126.870561811751, 37.512698935844604], [126.866065211751, 37.505227535844604], [126.866065211751, 37.520170335844604]], [[127.04232360355601, 37.56999105621829], [127.051316803556, 37.56999105621829], [127.04682020355601, 37.56251965621829], [127.04682020355601, 37.57746245621829]], [[127.00965897261601, 37.4935774661715], [127.018652172616, 37.4935774661715], [127.014155572616, 37.4861060661715], [127.014155572616, 37.5010488661715]], [[127.033534519837, 37.5739380503267], [127.042527719837, 37.5739380503267], [127.038031119837, 37.5664666503267], [127.038031119837, 37.5814094503267]], [[127.04623270917901, 37.56200490526621], [127.055225909179, 37.56200490526621], [127.050729309179, 37.55453350526621], [127.050729309179, 37.56947630526621]], [[126.88658390138501, 37.508770144978705], [126.895577101385, 37.508770144978705], [126.891080501385, 37.501298744978705], [126.891080501385, 37.516241544978705]], [[126.97089276315701, 37.5635793508101], [126.979885963157, 37.5635793508101], [126.975389363157, 37.5561079508101], [126.975389363157, 37.5710507508101]], [[126.84211499205901, 37.531956084774606], [126.851108192059, 37.531956084774606], [126.846611592059, 37.524484684774606], [126.846611592059, 37.539427484774606]], [[126.87820598446801, 37.5144420510515], [126.887199184468, 37.5144420510515], [126.882702584468, 37.5069706510515], [126.882702584468, 37.5219134510515]], [[127.020205293044, 37.5753194830738], [127.02919849304399, 37.5753194830738], [127.024701893044, 37.5678480830738], [127.024701893044, 37.5827908830738]], [[126.97089276315701, 37.5635793508101], [126.979885963157, 37.5635793508101], [126.975389363157, 37.5561079508101], [126.975389363157, 37.5710507508101]], [[126.84211499205901, 37.531956084774606], [126.851108192059, 37.531956084774606], [126.846611592059, 37.524484684774606], [126.846611592059, 37.539427484774606]], [[126.87820598446801, 37.5144420510515], [126.887199184468, 37.5144420510515], [126.882702584468, 37.5069706510515], [126.882702584468, 37.5219134510515]], [[127.020205293044, 37.5753194830738], [127.02919849304399, 37.5753194830738], [127.024701893044, 37.5678480830738], [127.024701893044, 37.5827908830738]]]

In [333]:
print(metro[df['station_num'][161]])

[{0: ['서울대입구역', (126.952645104944, 37.481152663184396)]}, {1: ['왕십리역', (127.036655378283, 37.561221741519105)]}, {2: ['신촌역', (126.936119192554, 37.555441786598394)]}, {3: ['신림역', (126.92980331103, 37.4842176141092)]}, {4: ['삼성역', (127.063073009788, 37.5088619974404)]}, {5: ['역삼역', (127.036618203089, 37.500716269359295)]}, {6: ['성수역', (127.05609047122299, 37.5445023983984)]}, {7: ['사당역', (126.981408909449, 37.476522834761894)]}, {8: ['강변역', (127.094664569096, 37.5351692767888)]}, {9: ['대림역', (126.8949461878, 37.4933105886136)]}, {10: ['건대입구역', (127.06917328155399, 37.540418887217605)]}, {11: ['구로디지털단지역', (126.901494378412, 37.485314923786504)]}, {12: ['선릉역', (127.048942471228, 37.5045028775835)]}, {13: ['신대방역', (126.913175585996, 37.4875759745635)]}, {14: ['방배역', (126.99769489932699, 37.4814364876589)]}, {15: ['잠실새내역', (127.08637386720699, 37.5115672093323)]}, {16: ['서초역', (127.007580814715, 37.491822999009294)]}, {17: ['동대문역사문화공원역', (127.009131498424, 37.565589522977604)]}, {18: ['낙성대역', (126.96340995915199, 37.4770651843603)]}, {19: ['을지로입구역', (126.98237290178699, 37.5660509513873)]}, {20: ['구의역', (127.086179228767, 37.5371535596228)]}, {21: ['신정네거리역', (126.85299164505899, 37.51979752667871)]}, {22: ['신당역', (127.01954057448499, 37.5656540317328)]}, {23: ['봉천역', (126.941495272047, 37.4825562153548)]}, {24: ['영등포구청역', (126.896626898379, 37.525699661480395)]}, {25: ['뚝섬역', (127.047365178682, 37.547188224409105)]}, {26: ['을지로3가역', (126.990308356253, 37.56626594615)]}, {27: ['문래역', (126.89476306055599, 37.5179214637526)]}, {28: ['이대역', (126.945758201019, 37.5567980142044)]}, {29: ['잠실나루역', (127.10381108944401, 37.520686731808794)]}, {30: ['아현역', (126.95603374504, 37.5573575723061)]}, {31: ['종합운동장역', (127.073356018706, 37.510969274899296)]}, {32: ['충정로역', (126.964474043785, 37.5598377952439)]}, {33: ['상왕십리역', (127.029031221392, 37.5644687111181)]}, {34: ['을지로4가역', (126.997852780281, 37.56663699415721)]}, {35: ['한양대역', (127.043584493543, 37.55557788354)]}, {36: ['양천구청역', (126.866065211751, 37.512698935844604)]}, {37: ['신답역', (127.04682020355601, 37.56999105621829)]}, {38: ['교대역', (127.014155572616, 37.4935774661715)]}, {39: ['용두역', (127.038031119837, 37.5739380503267)]}, {40: ['용답역', (127.050729309179, 37.56200490526621)]}, {41: ['신도림역', (126.891080501385, 37.508770144978705)]}, {42: ['시청역', (126.975389363157, 37.5635793508101)]}, {43: ['까치산역', (126.846611592059, 37.531956084774606)]}, {44: ['도림천역', (126.882702584468, 37.5144420510515)]}, {45: ['신설동역', (127.024701893044, 37.5753194830738)]}, {46: ['시청역', (126.975389363157, 37.5635793508101)]}, {47: ['까치산역', (126.846611592059, 37.531956084774606)]}, {48: ['도림천역', (126.882702584468, 37.5144420510515)]}, {49: ['신설동역', (127.024701893044, 37.5753194830738)]}]

In [334]:
df2 = pd.read_csv('/content/drive/My Drive/elice_miniProject/bus_stop_seoul.csv', encoding="cp949")

In [335]:
df2

       Unnamed: 0    bus_stop_name  ...  bus_stop_geo_lat  bus_stop_geo_lng
0               0          종로2가사거리  ...         37.569765        126.987750
1               1      창경궁.서울대학교병원  ...         37.579183        126.996566
2               2        명륜3가.성대입구  ...         37.582671        126.998340
3               3         종로2가.삼일교  ...         37.568579        126.987613
4               4    혜화동로터리.여운형활동터  ...         37.586243        127.001744
...           ...              ...  ...               ...               ...
11174       11174  고덕1동주민센터.두레근린공원  ...         37.558546        127.151715
11175       11175          고덕역1번출구  ...         37.555506        127.153072
11176       11176          고덕역1번출구  ...         37.555506        127.153378
11177       11177         명일신동아아파트  ...         37.552350        127.152546
11178       11178             주양쇼핑  ...         37.552346        127.153046

[11179 rows x 6 columns]

In [336]:
del df2['Unnamed: 0']

In [337]:
len(round500(metro['2호선'][0][0][1][0],metro['2호선'][0][0][1][1],df))

1

In [338]:
box = square(metro['2호선'][0][0][1][0],metro['2호선'][0][0][1][1])
box

[[126.948148504944, 37.481152663184396],
 [126.957141704944, 37.481152663184396],
 [126.952645104944, 37.473681263184396],
 [126.952645104944, 37.488624063184396]]

In [339]:
df2.columns = ['name', 'standard_id','ars_id','lat','lng']
df2

                  name  standard_id  ars_id        lat         lng
0              종로2가사거리    100000001    1001  37.569765  126.987750
1          창경궁.서울대학교병원    100000002    1002  37.579183  126.996566
2            명륜3가.성대입구    100000003    1003  37.582671  126.998340
3             종로2가.삼일교    100000004    1004  37.568579  126.987613
4        혜화동로터리.여운형활동터    100000005    1005  37.586243  127.001744
...                ...          ...     ...        ...         ...
11174  고덕1동주민센터.두레근린공원    124900120   25529  37.558546  127.151715
11175          고덕역1번출구    124900121   25518  37.555506  127.153072
11176          고덕역1번출구    124900122   25528  37.555506  127.153378
11177         명일신동아아파트    124900123   25520  37.552350  127.152546
11178             주양쇼핑    124900124   25525  37.552346  127.153046

[11179 rows x 5 columns]

In [452]:
round500(metro['2호선'][0][0][1][0],metro['2호선'][0][0][1][1],df2,True)

[4371, 4373, 4379]

In [342]:
len(round500(127.952645104944, 38.481152663184396,df))

0

In [413]:
## 버스정류장

def all_bus_stop(df2,df_index): 
  return square(df2['lng'][df_index],df2['lat'][df_index])

In [344]:
all_bus_stop(4371)

[[126.9144923746, 37.6367680033],
 [126.9234855746, 37.6367680033],
 [126.9189889746, 37.6292966033],
 [126.9189889746, 37.6442394033]]

In [345]:
# 500미터 내의 치하철, 100미터 내의 버스정류장 모두 찾기

def result(x,y,df_metro,df_bus):
  result = []

  metro = round500(x,y,df_metro) ## 반경 100미터 지하철역 찾기
  for station in metro:
    result = result + all_station(station)

  bus = round500(x,y,df_bus,True) ##반경 100미터 버스정류장 찾기
  for stop in bus:
    result += all_bus_stop(stop)
  
  return result

In [346]:
print(result(metro['2호선'][0][0][1][0],metro['2호선'][0][0][1][1],df,df2))

[[[126.948148504944, 37.481152663184396], [126.957141704944, 37.481152663184396], [126.952645104944, 37.473681263184396], [126.952645104944, 37.488624063184396]], [[127.032158778283, 37.561221741519105], [127.041151978283, 37.561221741519105], [127.036655378283, 37.553750341519105], [127.036655378283, 37.568693141519105]], [[126.931622592554, 37.555441786598394], [126.940615792554, 37.555441786598394], [126.936119192554, 37.547970386598394], [126.936119192554, 37.562913186598394]], [[126.92530671103, 37.4842176141092], [126.93429991103, 37.4842176141092], [126.92980331103, 37.4767462141092], [126.92980331103, 37.4916890141092]], [[127.058576409788, 37.5088619974404], [127.067569609788, 37.5088619974404], [127.063073009788, 37.5013905974404], [127.063073009788, 37.5163333974404]], [[127.03212160308901, 37.500716269359295], [127.041114803089, 37.500716269359295], [127.036618203089, 37.493244869359295], [127.036618203089, 37.508187669359295]], [[127.05159387122299, 37.5445023983984], [127.06058707122298, 37.5445023983984], [127.05609047122299, 37.5370309983984], [127.05609047122299, 37.5519737983984]], [[126.976912309449, 37.476522834761894], [126.985905509449, 37.476522834761894], [126.981408909449, 37.469051434761894], [126.981408909449, 37.483994234761894]], [[127.090167969096, 37.5351692767888], [127.09916116909599, 37.5351692767888], [127.094664569096, 37.5276978767888], [127.094664569096, 37.5426406767888]], [[126.8904495878, 37.4933105886136], [126.8994427878, 37.4933105886136], [126.8949461878, 37.4858391886136], [126.8949461878, 37.5007819886136]], [[127.06467668155399, 37.540418887217605], [127.07366988155398, 37.540418887217605], [127.06917328155399, 37.532947487217605], [127.06917328155399, 37.547890287217605]], [[126.896997778412, 37.485314923786504], [126.90599097841199, 37.485314923786504], [126.901494378412, 37.477843523786504], [126.901494378412, 37.492786323786504]], [[127.044445871228, 37.5045028775835], [127.053439071228, 37.5045028775835], [127.048942471228, 37.4970314775835], [127.048942471228, 37.5119742775835]], [[126.908678985996, 37.4875759745635], [126.917672185996, 37.4875759745635], [126.913175585996, 37.4801045745635], [126.913175585996, 37.4950473745635]], [[126.99319829932699, 37.4814364876589], [127.00219149932698, 37.4814364876589], [126.99769489932699, 37.4739650876589], [126.99769489932699, 37.4889078876589]], [[127.08187726720699, 37.5115672093323], [127.09087046720698, 37.5115672093323], [127.08637386720699, 37.5040958093323], [127.08637386720699, 37.5190386093323]], [[127.003084214715, 37.491822999009294], [127.012077414715, 37.491822999009294], [127.007580814715, 37.484351599009294], [127.007580814715, 37.499294399009294]], [[127.004634898424, 37.565589522977604], [127.013628098424, 37.565589522977604], [127.009131498424, 37.5581181229776], [127.009131498424, 37.573060922977604]], [[126.95891335915199, 37.4770651843603], [126.96790655915198, 37.4770651843603], [126.96340995915199, 37.4695937843603], [126.96340995915199, 37.4845365843603]], [[126.97787630178699, 37.5660509513873], [126.98686950178698, 37.5660509513873], [126.98237290178699, 37.5585795513873], [126.98237290178699, 37.5735223513873]], [[127.081682628767, 37.5371535596228], [127.09067582876699, 37.5371535596228], [127.086179228767, 37.5296821596228], [127.086179228767, 37.5446249596228]], [[126.848495045059, 37.51979752667871], [126.85748824505899, 37.51979752667871], [126.85299164505899, 37.51232612667871], [126.85299164505899, 37.52726892667871]], [[127.015043974485, 37.5656540317328], [127.02403717448499, 37.5656540317328], [127.01954057448499, 37.5581826317328], [127.01954057448499, 37.5731254317328]], [[126.93699867204701, 37.4825562153548], [126.945991872047, 37.4825562153548], [126.941495272047, 37.4750848153548], [126.941495272047, 37.4900276153548]], [[126.892130298379, 37.525699661480395], [126.901123498379, 37.525699661480395], [126.896626898379, 37.518228261480395], [126.896626898379, 37.533171061480395]], [[127.042868578682, 37.547188224409105], [127.051861778682, 37.547188224409105], [127.047365178682, 37.539716824409105], [127.047365178682, 37.554659624409105]], [[126.985811756253, 37.56626594615], [126.99480495625299, 37.56626594615], [126.990308356253, 37.55879454615], [126.990308356253, 37.57373734615]], [[126.89026646055599, 37.5179214637526], [126.89925966055598, 37.5179214637526], [126.89476306055599, 37.5104500637526], [126.89476306055599, 37.5253928637526]], [[126.94126160101901, 37.5567980142044], [126.950254801019, 37.5567980142044], [126.945758201019, 37.549326614204396], [126.945758201019, 37.5642694142044]], [[127.09931448944401, 37.520686731808794], [127.108307689444, 37.520686731808794], [127.10381108944401, 37.513215331808794], [127.10381108944401, 37.528158131808794]], [[126.95153714504, 37.5573575723061], [126.96053034504, 37.5573575723061], [126.95603374504, 37.5498861723061], [126.95603374504, 37.5648289723061]], [[127.068859418706, 37.510969274899296], [127.07785261870599, 37.510969274899296], [127.073356018706, 37.503497874899296], [127.073356018706, 37.518440674899296]], [[126.95997744378501, 37.5598377952439], [126.968970643785, 37.5598377952439], [126.964474043785, 37.5523663952439], [126.964474043785, 37.5673091952439]], [[127.02453462139201, 37.5644687111181], [127.033527821392, 37.5644687111181], [127.029031221392, 37.5569973111181], [127.029031221392, 37.5719401111181]], [[126.993356180281, 37.56663699415721], [127.00234938028099, 37.56663699415721], [126.997852780281, 37.55916559415721], [126.997852780281, 37.57410839415721]], [[127.039087893543, 37.55557788354], [127.04808109354299, 37.55557788354], [127.043584493543, 37.54810648354], [127.043584493543, 37.56304928354]], [[126.86156861175101, 37.512698935844604], [126.870561811751, 37.512698935844604], [126.866065211751, 37.505227535844604], [126.866065211751, 37.520170335844604]], [[127.04232360355601, 37.56999105621829], [127.051316803556, 37.56999105621829], [127.04682020355601, 37.56251965621829], [127.04682020355601, 37.57746245621829]], [[127.00965897261601, 37.4935774661715], [127.018652172616, 37.4935774661715], [127.014155572616, 37.4861060661715], [127.014155572616, 37.5010488661715]], [[127.033534519837, 37.5739380503267], [127.042527719837, 37.5739380503267], [127.038031119837, 37.5664666503267], [127.038031119837, 37.5814094503267]], [[127.04623270917901, 37.56200490526621], [127.055225909179, 37.56200490526621], [127.050729309179, 37.55453350526621], [127.050729309179, 37.56947630526621]], [[126.88658390138501, 37.508770144978705], [126.895577101385, 37.508770144978705], [126.891080501385, 37.501298744978705], [126.891080501385, 37.516241544978705]], [[126.97089276315701, 37.5635793508101], [126.979885963157, 37.5635793508101], [126.975389363157, 37.5561079508101], [126.975389363157, 37.5710507508101]], [[126.84211499205901, 37.531956084774606], [126.851108192059, 37.531956084774606], [126.846611592059, 37.524484684774606], [126.846611592059, 37.539427484774606]], [[126.87820598446801, 37.5144420510515], [126.887199184468, 37.5144420510515], [126.882702584468, 37.5069706510515], [126.882702584468, 37.5219134510515]], [[127.020205293044, 37.5753194830738], [127.02919849304399, 37.5753194830738], [127.024701893044, 37.5678480830738], [127.024701893044, 37.5827908830738]], [[126.97089276315701, 37.5635793508101], [126.979885963157, 37.5635793508101], [126.975389363157, 37.5561079508101], [126.975389363157, 37.5710507508101]], [[126.84211499205901, 37.531956084774606], [126.851108192059, 37.531956084774606], [126.846611592059, 37.524484684774606], [126.846611592059, 37.539427484774606]], [[126.87820598446801, 37.5144420510515], [126.887199184468, 37.5144420510515], [126.882702584468, 37.5069706510515], [126.882702584468, 37.5219134510515]], [[127.020205293044, 37.5753194830738], [127.02919849304399, 37.5753194830738], [127.024701893044, 37.5678480830738], [127.024701893044, 37.5827908830738]], [126.9144923746, 37.6367680033], [126.9234855746, 37.6367680033], [126.9189889746, 37.6292966033], [126.9189889746, 37.6442394033], [126.9151917967, 37.6238469574], [126.92418499669999, 37.6238469574], [126.9196883967, 37.6163755574], [126.9196883967, 37.6313183574], [126.925910558, 37.601427554299995], [126.93490375799999, 37.601427554299995], [126.930407158, 37.593956154299995], [126.930407158, 37.608898954299995]]

In [387]:
df3 = pd.read_csv('/content/drive/My Drive/elice_miniProject/bus_line.csv', encoding="cp949")

In [393]:
df3.columns = ['standard_id','line_name','num','section_id','bus_stop_id','ars_id','name_y','lat_y','lng_y']

In [394]:
df3

       standard_id line_name  num  ...      name_y       lat_y      lng_y
0        100100124      0017    1  ...     청암자이아파트  126.946517  37.534363
1        100100124      0017    2  ...  청암동강변삼성아파트  126.949304  37.533961
2        100100124      0017    3  ...       청심경로당  126.950449  37.533744
3        100100124      0017    4  ...    원효2동주민센터  126.950904  37.534278
4        100100124      0017    5  ...         산천동  126.953984  37.535420
...            ...       ...  ...  ...         ...         ...        ...
39358    106900002      중랑02   14  ...       면목지구대  127.094202  37.587838
39359    106900002      중랑02   15  ...       새마을금고  127.097335  37.589118
39360    106900002      중랑02   16  ...         공판장  127.099060  37.588522
39361    106900002      중랑02   17  ...   진주빌라.바다약국  127.100669  37.587783
39362    106900002      중랑02   18  ...   진로아파트앞.종점  127.101491  37.587650

[39363 rows x 9 columns]

In [395]:
df2

                  name  standard_id  ars_id        lat         lng
0              종로2가사거리    100000001    1001  37.569765  126.987750
1          창경궁.서울대학교병원    100000002    1002  37.579183  126.996566
2            명륜3가.성대입구    100000003    1003  37.582671  126.998340
3             종로2가.삼일교    100000004    1004  37.568579  126.987613
4        혜화동로터리.여운형활동터    100000005    1005  37.586243  127.001744
...                ...          ...     ...        ...         ...
11174  고덕1동주민센터.두레근린공원    124900120   25529  37.558546  127.151715
11175          고덕역1번출구    124900121   25518  37.555506  127.153072
11176          고덕역1번출구    124900122   25528  37.555506  127.153378
11177         명일신동아아파트    124900123   25520  37.552350  127.152546
11178             주양쇼핑    124900124   25525  37.552346  127.153046

[11179 rows x 5 columns]

In [396]:
merge = pd.merge(df2, df3,
 how='inner',
 on='ars_id')

In [397]:
merge

                   name  standard_id_x  ...       lat_y      lng_y
0               종로2가사거리      100000001  ...  126.987786  37.569764
1               종로2가사거리      100000001  ...  126.987786  37.569764
2               종로2가사거리      100000001  ...  126.987786  37.569764
3           창경궁.서울대학교병원      100000002  ...  126.996520  37.579179
4           창경궁.서울대학교병원      100000002  ...  126.996520  37.579179
...                 ...            ...  ...         ...        ...
34127             고덕2단지      124900110  ...  127.162906  37.560282
34128             고덕2단지      124900110  ...  127.162906  37.560282
34129              가래여울      124900111  ...  127.168974  37.576545
34130  고덕래미안힐스테이트.시니어센터      124900112  ...  127.148073  37.559227
34131  고덕래미안힐스테이트.시니어센터      124900112  ...  127.148073  37.559227

[34132 rows x 13 columns]

In [491]:
## 버스 번호로 검색이 가능한 딕셔너리
bus = {}
for i in range(len(merge['ars_id'])):

  if merge['line_name'][i] in bus:
    idx = len(bus[merge['line_name'][i]])
    a = [merge['ars_id'][i],(merge['lng'][i],merge['lat'][i])]
    bus[merge['line_name'][i]].append(a)
    
  else:
    idx = 0 
    a = [ merge['ars_id'][i],(merge['lng'][i],merge['lat'][i])]
    bus[merge['line_name'][i]]=[a]

In [484]:
## 버스 정류장 번호로 검색 가능한 딕셔너리

bus2 = {}
for i in range(len(merge['ars_id'])):

  if merge['ars_id'][i] in bus2:
    idx = len(bus2[merge['ars_id'][i]])
    a = [merge['line_name'][i],(merge['lng'][i],merge['lat'][i])]
    bus2[merge['ars_id'][i]].append(a)
    
  else:
    idx = 0 
    a = [merge['line_name'][i],(merge['lng'][i],merge['lat'][i])]
    bus2[merge['ars_id'][i]]=[a]

In [550]:
round500(metro['2호선'][0][0][1][0],metro['2호선'][0][0][1][1],merge,True) ## 서울대입구역 근처 100미터 내 버스정류장의 인덱스

[13611, 13630, 13631, 13632, 13665, 13666, 13667, 13668, 13669]

In [493]:
metro['2호선'][0]

{0: ['서울대입구역', (126.952645104944, 37.481152663184396)]}

In [551]:
merge['ars_id'][13611] ## 서울대입구역 근처 인덱스13611번의 버스정류장 번호

12254

In [556]:
bus2[merge['ars_id'][13611]][0][0]

'7022'

In [495]:
bus2[merge['ars_id'][13611]][0][0] ## ars_id 12254 버스정류장의 인덱스 0번 버스 번호

'7022'

In [557]:
print(bus[bus2[merge['ars_id'][13611]][0][0]]) ## 7022번 버스가 다니는 버스 노선의 버스 정류장 번호

[[1102, (126.97026536870001, 37.5832657654)], [1104, (126.9710436571, 37.585113193000005)], [1105, (126.9725135095, 37.5878519552)], [1106, (126.96712618049999, 37.5921866176)], [1107, (126.9671906625, 37.5923353152)], [1108, (126.97246131979999, 37.5881285775)], [1109, (126.9711546793, 37.584966342600005)], [1110, (126.97105004040002, 37.5803257033)], [1111, (126.9713851083, 37.580513211799996)], [1112, (126.9706209712, 37.583091043)], [1115, (126.97219601, 37.5768666917)], [1116, (126.9722828893, 37.577671386300004)], [1126, (126.9765652658, 37.5726577416)], [1130, (126.9820170203, 37.5759017489)], [1132, (126.9608880061, 37.6046629766)], [1133, (126.9612198463, 37.602502279899994)], [1136, (126.96170682350001, 37.598133066500004)], [1137, (126.9636434993, 37.5955935123)], [1138, (126.9639574356, 37.5927380599)], [1139, (126.96514192110001, 37.5927861733)], [1140, (126.9639775924, 37.5955575712)], [1141, (126.962215308, 37.598147647800005)], [1142, (126.9592405649, 37.5996163318)], [1144, (126.9614328894, 37.6022680671)], [1146, (126.96120881350001, 37.6047191923)], [1150, (126.95621032940001, 37.6086098941)], [1151, (126.9564166508, 37.6083054034)], [1152, (126.95852979280001, 37.6069644475)], [1153, (126.95910174790001, 37.6070088003)], [1201, (126.9832244185, 37.5723660209)], [1287, (126.95819414040001, 37.5995718125)], [2006, (126.9728547738, 37.5554794133)], [2122, (126.97402, 37.558487)], [2131, (126.9759075283, 37.5620517519)], [2139, (126.9829289124, 37.567519004699996)], [2142, (126.982008, 37.562885)], [2219, (126.978580386, 37.5609394169)], [2286, (126.97683557290001, 37.5662122834)], [12130, (126.9151114177, 37.5990314657)], [12131, (126.9149894161, 37.5987592495)], [12148, (126.9107629252, 37.613904289299995)], [12211, (126.91038482440001, 37.601437478499996)], [12212, (126.910658933, 37.6061458636)], [12213, (126.91102, 37.608955)], [12214, (126.911363, 37.61138)], [12215, (126.91126359280001, 37.611999772800004)], [12216, (126.91083358290001, 37.608802397199995)], [12217, (126.9104597465, 37.6060168573)], [12218, (126.9102266857, 37.6020320757)], [12219, (126.91012521569999, 37.5997666658)], [12220, (126.9100665956, 37.5986006142)], [12243, (126.91836983459999, 37.5999033134)], [12244, (126.9208222817, 37.6015404571)], [12245, (126.9220664791, 37.604167052)], [12246, (126.923243231, 37.6068015906)], [12247, (126.92651653959999, 37.6086555139)], [12248, (126.9282417636, 37.6084619409)], [12249, (126.93229043059999, 37.6090959943)], [12250, (126.9397954573, 37.610512964)], [12251, (126.944843955, 37.6103568403)], [12252, (126.9457747343, 37.6107519472)], [12253, (126.9396027141, 37.6107435434)], [12254, (126.9326083189, 37.6095286975)], [12255, (126.9289518591, 37.6085452704)], [12256, (126.92639959879999, 37.6089365798)], [12257, (126.9239679445, 37.6076554963)], [12258, (126.9220473318, 37.605150124699996)], [12259, (126.9203271751, 37.6017113304)], [12260, (126.9180320022, 37.6002130532)], [12366, (126.91082589620001, 37.598163261799996)], [12478, (126.9097848762, 37.6143153415)]]

In [509]:
bus[bus2[merge['ars_id'][13611]][0][0]][0]

[1102, (126.97026536870001, 37.5832657654)]

In [501]:
bus[bus2[merge['ars_id'][13611]][0][0]][0][1][0],bus[bus2[merge['ars_id'][13611]][0][0]][0][1][1] ## 7022번 버스 노선 인덱스 0번 (1102)정류장의 좌표

(126.97026536870001, 37.5832657654)

In [542]:
## 버스정류장 좌표 근처 
ars = []
for i in range(len(bus[bus2[merge['ars_id'][13611]][0][0]])):
  ars.append(square(bus[bus2[merge['ars_id'][13611]][0][0]][i][1][0],bus[bus2[merge['ars_id'][13611]][0][0]][i][1][1],xxx,yyy))

In [543]:
print(ars)

[[[126.96936604870001, 37.5832657654], [126.97116468870001, 37.5832657654], [126.97026536870001, 37.581397915400004], [126.97026536870001, 37.5851336154]], [[126.9701443371, 37.585113193000005], [126.9719429771, 37.585113193000005], [126.9710436571, 37.58324534300001], [126.9710436571, 37.586981043]], [[126.9716141895, 37.5878519552], [126.9734128295, 37.5878519552], [126.9725135095, 37.585984105200005], [126.9725135095, 37.5897198052]], [[126.96622686049999, 37.5921866176], [126.96802550049999, 37.5921866176], [126.96712618049999, 37.5903187676], [126.96712618049999, 37.594054467599996]], [[126.9662913425, 37.5923353152], [126.9680899825, 37.5923353152], [126.9671906625, 37.59046746520001], [126.9671906625, 37.5942031652]], [[126.97156199979999, 37.5881285775], [126.97336063979999, 37.5881285775], [126.97246131979999, 37.586260727500004], [126.97246131979999, 37.5899964275]], [[126.9702553593, 37.584966342600005], [126.9720539993, 37.584966342600005], [126.9711546793, 37.58309849260001], [126.9711546793, 37.5868341926]], [[126.97015072040001, 37.5803257033], [126.97194936040002, 37.5803257033], [126.97105004040002, 37.5784578533], [126.97105004040002, 37.582193553299994]], [[126.9704857883, 37.580513211799996], [126.9722844283, 37.580513211799996], [126.9713851083, 37.5786453618], [126.9713851083, 37.58238106179999]], [[126.9697216512, 37.583091043], [126.97152029120001, 37.583091043], [126.9706209712, 37.58122319300001], [126.9706209712, 37.584958893]], [[126.97129669, 37.5768666917], [126.97309533, 37.5768666917], [126.97219601, 37.5749988417], [126.97219601, 37.578734541699994]], [[126.9713835693, 37.577671386300004], [126.9731822093, 37.577671386300004], [126.9722828893, 37.57580353630001], [126.9722828893, 37.5795392363]], [[126.9756659458, 37.5726577416], [126.9774645858, 37.5726577416], [126.9765652658, 37.5707898916], [126.9765652658, 37.57452559159999]], [[126.9811177003, 37.5759017489], [126.98291634030001, 37.5759017489], [126.9820170203, 37.574033898900005], [126.9820170203, 37.5777695989]], [[126.9599886861, 37.6046629766], [126.96178732610001, 37.6046629766], [126.9608880061, 37.6027951266], [126.9608880061, 37.60653082659999]], [[126.9603205263, 37.602502279899994], [126.9621191663, 37.602502279899994], [126.9612198463, 37.6006344299], [126.9612198463, 37.60437012989999]], [[126.9608075035, 37.598133066500004], [126.96260614350001, 37.598133066500004], [126.96170682350001, 37.59626521650001], [126.96170682350001, 37.6000009165]], [[126.9627441793, 37.5955935123], [126.96454281930001, 37.5955935123], [126.9636434993, 37.5937256623], [126.9636434993, 37.597461362299995]], [[126.96305811559999, 37.5927380599], [126.9648567556, 37.5927380599], [126.9639574356, 37.590870209900004], [126.9639574356, 37.5946059099]], [[126.96424260110001, 37.5927861733], [126.96604124110002, 37.5927861733], [126.96514192110001, 37.5909183233], [126.96514192110001, 37.594654023299995]], [[126.9630782724, 37.5955575712], [126.9648769124, 37.5955575712], [126.9639775924, 37.5936897212], [126.9639775924, 37.59742542119999]], [[126.961315988, 37.598147647800005], [126.963114628, 37.598147647800005], [126.962215308, 37.59627979780001], [126.962215308, 37.6000154978]], [[126.9583412449, 37.5996163318], [126.9601398849, 37.5996163318], [126.9592405649, 37.597748481800004], [126.9592405649, 37.6014841818]], [[126.9605335694, 37.6022680671], [126.9623322094, 37.6022680671], [126.9614328894, 37.6004002171], [126.9614328894, 37.604135917099995]], [[126.9603094935, 37.6047191923], [126.96210813350001, 37.6047191923], [126.96120881350001, 37.602851342300006], [126.96120881350001, 37.6065870423]], [[126.9553110094, 37.6086098941], [126.95710964940001, 37.6086098941], [126.95621032940001, 37.6067420441], [126.95621032940001, 37.610477744099995]], [[126.95551733079999, 37.6083054034], [126.9573159708, 37.6083054034], [126.9564166508, 37.606437553400006], [126.9564166508, 37.6101732534]], [[126.9576304728, 37.6069644475], [126.95942911280001, 37.6069644475], [126.95852979280001, 37.6050965975], [126.95852979280001, 37.608832297499994]], [[126.9582024279, 37.6070088003], [126.96000106790001, 37.6070088003], [126.95910174790001, 37.605140950300004], [126.95910174790001, 37.6088766503]], [[126.9823250985, 37.5723660209], [126.9841237385, 37.5723660209], [126.9832244185, 37.5704981709], [126.9832244185, 37.574233870899995]], [[126.95729482040001, 37.5995718125], [126.95909346040001, 37.5995718125], [126.95819414040001, 37.597703962500006], [126.95819414040001, 37.6014396625]], [[126.97195545379999, 37.5554794133], [126.9737540938, 37.5554794133], [126.9728547738, 37.5536115633], [126.9728547738, 37.557347263299995]], [[126.97312068, 37.558487], [126.97491932, 37.558487], [126.97402, 37.55661915], [126.97402, 37.560354849999996]], [[126.9750082083, 37.5620517519], [126.9768068483, 37.5620517519], [126.9759075283, 37.560183901900004], [126.9759075283, 37.5639196019]], [[126.9820295924, 37.567519004699996], [126.9838282324, 37.567519004699996], [126.9829289124, 37.5656511547], [126.9829289124, 37.56938685469999]], [[126.98110867999999, 37.562885], [126.98290732, 37.562885], [126.982008, 37.561017150000005], [126.982008, 37.56475285]], [[126.977681066, 37.5609394169], [126.979479706, 37.5609394169], [126.978580386, 37.5590715669], [126.978580386, 37.562807266899995]], [[126.97593625290001, 37.5662122834], [126.97773489290002, 37.5662122834], [126.97683557290001, 37.5643444334], [126.97683557290001, 37.568080133399995]], [[126.9142120977, 37.5990314657], [126.9160107377, 37.5990314657], [126.9151114177, 37.597163615700005], [126.9151114177, 37.6008993157]], [[126.9140900961, 37.5987592495], [126.9158887361, 37.5987592495], [126.9149894161, 37.5968913995], [126.9149894161, 37.600627099499995]], [[126.9098636052, 37.613904289299995], [126.9116622452, 37.613904289299995], [126.9107629252, 37.6120364393], [126.9107629252, 37.61577213929999]], [[126.90948550440001, 37.601437478499996], [126.91128414440001, 37.601437478499996], [126.91038482440001, 37.5995696285], [126.91038482440001, 37.60330532849999]], [[126.90975961299999, 37.6061458636], [126.911558253, 37.6061458636], [126.910658933, 37.6042780136], [126.910658933, 37.608013713599995]], [[126.91012067999999, 37.608955], [126.91191932, 37.608955], [126.91102, 37.607087150000005], [126.91102, 37.61082285]], [[126.91046367999999, 37.61138], [126.91226232, 37.61138], [126.911363, 37.60951215], [126.911363, 37.61324784999999]], [[126.91036427280001, 37.611999772800004], [126.91216291280001, 37.611999772800004], [126.91126359280001, 37.61013192280001], [126.91126359280001, 37.6138676228]], [[126.90993426290001, 37.608802397199995], [126.91173290290001, 37.608802397199995], [126.91083358290001, 37.6069345472], [126.91083358290001, 37.61067024719999]], [[126.9095604265, 37.6060168573], [126.9113590665, 37.6060168573], [126.9104597465, 37.6041490073], [126.9104597465, 37.607884707299995]], [[126.9093273657, 37.6020320757], [126.9111260057, 37.6020320757], [126.9102266857, 37.600164225700006], [126.9102266857, 37.6038999257]], [[126.90922589569999, 37.5997666658], [126.9110245357, 37.5997666658], [126.91012521569999, 37.5978988158], [126.91012521569999, 37.601634515799994]], [[126.9091672756, 37.5986006142], [126.9109659156, 37.5986006142], [126.9100665956, 37.596732764200006], [126.9100665956, 37.6004684642]], [[126.91747051459998, 37.5999033134], [126.91926915459999, 37.5999033134], [126.91836983459999, 37.5980354634], [126.91836983459999, 37.601771163399995]], [[126.9199229617, 37.6015404571], [126.9217216017, 37.6015404571], [126.9208222817, 37.599672607100004], [126.9208222817, 37.6034083071]], [[126.9211671591, 37.604167052], [126.9229657991, 37.604167052], [126.9220664791, 37.602299202000005], [126.9220664791, 37.606034902]], [[126.922343911, 37.6068015906], [126.924142551, 37.6068015906], [126.923243231, 37.6049337406], [126.923243231, 37.608669440599996]], [[126.92561721959999, 37.6086555139], [126.92741585959999, 37.6086555139], [126.92651653959999, 37.6067876639], [126.92651653959999, 37.61052336389999]], [[126.9273424436, 37.6084619409], [126.9291410836, 37.6084619409], [126.9282417636, 37.6065940909], [126.9282417636, 37.610329790899996]], [[126.93139111059999, 37.6090959943], [126.9331897506, 37.6090959943], [126.93229043059999, 37.6072281443], [126.93229043059999, 37.610963844299995]], [[126.93889613729999, 37.610512964], [126.9406947773, 37.610512964], [126.9397954573, 37.608645114000005], [126.9397954573, 37.612380814]], [[126.943944635, 37.6103568403], [126.945743275, 37.6103568403], [126.944843955, 37.6084889903], [126.944843955, 37.612224690299996]], [[126.9448754143, 37.6107519472], [126.9466740543, 37.6107519472], [126.9457747343, 37.608884097200004], [126.9457747343, 37.6126197972]], [[126.9387033941, 37.6107435434], [126.9405020341, 37.6107435434], [126.9396027141, 37.6088756934], [126.9396027141, 37.612611393399995]], [[126.93170899889999, 37.6095286975], [126.9335076389, 37.6095286975], [126.9326083189, 37.6076608475], [126.9326083189, 37.61139654749999]], [[126.9280525391, 37.6085452704], [126.9298511791, 37.6085452704], [126.9289518591, 37.606677420400004], [126.9289518591, 37.6104131204]], [[126.92550027879999, 37.6089365798], [126.92729891879999, 37.6089365798], [126.92639959879999, 37.607068729800005], [126.92639959879999, 37.6108044298]], [[126.9230686245, 37.6076554963], [126.92486726450001, 37.6076554963], [126.9239679445, 37.6057876463], [126.9239679445, 37.609523346299994]], [[126.9211480118, 37.605150124699996], [126.9229466518, 37.605150124699996], [126.9220473318, 37.6032822747], [126.9220473318, 37.60701797469999]], [[126.9194278551, 37.6017113304], [126.9212264951, 37.6017113304], [126.9203271751, 37.599843480400004], [126.9203271751, 37.6035791804]], [[126.91713268219999, 37.6002130532], [126.9189313222, 37.6002130532], [126.9180320022, 37.598345203200005], [126.9180320022, 37.6020809032]], [[126.90992657620001, 37.598163261799996], [126.91172521620001, 37.598163261799996], [126.91082589620001, 37.5962954118], [126.91082589620001, 37.60003111179999]], [[126.9088855562, 37.6143153415], [126.91068419620001, 37.6143153415], [126.9097848762, 37.612447491500006], [126.9097848762, 37.6161831915]]]

In [614]:
## 좌표 내 100미터의 버스정류장 찾고
## 해당 정류장의 버스들의 노선에 있는 버스 정류장을 중심으로 하는 100m^2 정사각형 범위의 꼭지점 좌표구하기

def all_bus_line(x,y,df=merge):
  r500 = round500(x, y, df,True) ## 좌표 내 100미터 주변 버스정류장의 df 인덱스 리스트
  for stop in r500: 
    bus_id = df['ars_id'][stop] ## 인덱스에 해당하는 버스정류장 id
    bus_list=bus2[merge['ars_id'][bus_id]] ## 버스정류장 id에 해당하는 버스 번호 리스트
    for bus_nums in bus_list:
      lines=bus[bus_nums[0]] ## 버스 번호에 해당하는 노선 전체의 버스 정류장 id 리스트
      for line in lines: 
        result.append(square(line[1][0],line[1][1],xxx,yyy)) ## 버스정류장을 중심으로 하는 100m^2의 정사각형 범위의 좌표
        break
  return result

In [616]:
all_bus_line(metro['2호선'][0][0][1][0],metro['2호선'][0][0][1][1])[:5]

[[[127.0056918194, 37.5724174899],
  [127.0074904594, 37.5724174899],
  [127.0065911394, 37.5705496399],
  [127.0065911394, 37.574285339899994]],
 [[127.0648972607, 37.6143314819],
  [127.0666959007, 37.6143314819],
  [127.0657965807, 37.612463631900006],
  [127.0657965807, 37.6161993319]],
 [[127.0648972607, 37.6143314819],
  [127.0666959007, 37.6143314819],
  [127.0657965807, 37.612463631900006],
  [127.0657965807, 37.6161993319]],
 [[127.03491796379998, 37.611782602699996],
  [127.03671660379999, 37.611782602699996],
  [127.03581728379999, 37.6099147527],
  [127.03581728379999, 37.61365045269999]],
 [[127.0684104113, 37.651478387800005],
  [127.0702090513, 37.651478387800005],
  [127.0693097313, 37.64961053780001],
  [127.0693097313, 37.6533462378]]]